@page
@model ServiceHost.Pages.AccountModel
@{
}
<form>
  <fieldset disabled>
    <legend>Disabled fieldset example</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Full Name</label>
      <input type="text" id="disabledTextInput" asp-for="Create.Fullname" class="form-control" placeholder="Disabled input">
    </div>
   <div class="mb-3">
      <label for="disabledTextInput" class="form-label">User name</label>
      <input type="text" id="disabledTextInput" asp-for="Create.UserName" class="form-control" placeholder="Disabled input">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Mobile</label>
      <input type="text" id="disabledTextInput" asp-for="Create.Mobile" class="form-control" placeholder="Disabled input">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Password</label>
      <input type="text" id="disabledTextInput" asp-for="Create.Password" class="form-control" placeholder="Disabled input">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Profile</label>
      <input type="file" id="disabledTextInput" asp-for="Create.ProfilePhoto" class="form-control" placeholder="Disabled input">
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Disabled select menu</label>
      <select asp-for="Create.RoleId" asp-items="@Model.Rolelist" id="disabledSelect" class="form-select">
        <option>نقش</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">ثبت نام</button>
  </fieldset>
</form>